/* default colors */
$color-primary: #ff9900 ;
$color-primary-light: #ffb84d;
$color-primary-dark: #b36b00;

$color-secondary: #336666;
$color-secondary-light: #55aaaa ;
$color-secondary-dark: #224444;

$color-tertiary: #1a66ff ;
$color-tertiary-light: #6699ff;
$color-tertiary-dark: #0044cc;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-drum-head: #ffebcc;


/* default font sizes */
$default-font-size: 1.6rem;
$default-font-size-smaller: 1.4rem;
$default-font-size-larger: 1.8rem;


/* default grid settings */
$grid-width: 120rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
