/*
0 - 600px       :     Phone max-width
600 - 900px     :     Tablet portrait max-width
900 - 1200px    :     Tablet landscape max-width
1200 - 1800px   :     Desktop (normal styles apply here max-width
1800px          :     Big desktop min-width

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER:Base > Typography > General layout >  grid > specific page layout > components

1em = 16px (default browser font size; reset in _base.scss html to 10px
*/
/* default colors */
/* default font sizes */
/* default grid settings */
/* overall site reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #ff9900;
  color: #fff;
}

::selection {
  background-color: #ff9900;
  color: #fff;
}

/* heading and type styles */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1.8rem;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .75rem;
}

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 900;
  display: inline-block;
  color: #333;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading__page-content {
  font-size: 4.5rem;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  color: #b36b00;
  letter-spacing: 2px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.paragraph {
  font-size: 1.8rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* utility styles */
.u-center-text {
  text-align: center !important;
}

.u-left-text {
  text-align: left !important;
}

.u-margin-bottom-small {
  margin-bottom: 15px !important;
}

.u-margin-bottom-medium {
  margin-bottom: 40px !important;
}

.u-margin-bottom-big {
  margin-bottom: 80px !important;
}

.u-margin-top-medium {
  margin-top: 40px !important;
}

.u-margin-top-big {
  margin-bottom: 80px !important;
}

.u-margin-top-huge {
  margin-bottom: 100px !important;
}

/* buttons */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  cursor: pointer;
  letter-spacing: 3px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  background-color: #ffebcc;
  color: #000;
}

.btn-white {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn:active,
.btn:focus {
  background-color: #ffebcc;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75;
          animation: moveInBottom .5s ease-out .75;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #1a66ff;
  display: inline-block;
  text-decoration: none;
  padding: 3px 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #ffebcc;
  color: #1a66ff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

/* composition - music section photos */
.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  position: absolute;
  z-index: 10;
}

.composition__photo--p1 {
  left: 50px;
  top: 0;
}

.composition__photo--p2 {
  right: -50px;
  top: 150px;
}

.composition__photo--p3 {
  left: 70px;
  top: 300px;
}

/* footer styles */
.footer {
  background-color: #333;
  padding: 25px 0;
  font-size: 14px;
  color: #f7f7f7;
}

.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 20px;
  display: inline-block;
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 15px;
}

.footer__link,
.footer__link:link,
.footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footer__link:hover,
.footer__link:active {
  background-position: 100%;
  color: #f7f7f7;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 20px;
  width: 60%;
  float: right;
}

/* grid styles */
.row {
  max-width: 1200px;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 80px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 60px;
}

.row .col-1-of-2 {
  width: calc((100% - 60px) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 60px) / 3);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 60px) / 4);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 60px) / 3) + 60px);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 60px) / 4) + 60px);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 60px) / 4) + 2 * (60px));
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 184, 77, 0.4)), to(rgba(179, 107, 0, 0.4))), url(../img/percussion-instruments_pc-jacob-wade_1900x600.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 184, 77, 0.4), rgba(179, 107, 0, 0.4)), url(../img/percussion-instruments_pc-jacob-wade_1900x600.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.text-box {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*CSS for future logo, left uncommented since logo image not yet available */
.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  /* height placeholder */
  height: 3.5rem;
}

/* navigation styles */
.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: #ffebcc;
  height: 60px;
  width: 60px;
  position: fixed;
  top: 25px;
  right: 50px;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 25px;
  right: 50px;
  background-image: radial-gradient(#ffb84d, #ffb84d);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation__item {
  margin: 10px;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  padding: 10px 20px;
  color: #f7f7f7;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 235%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 15px;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #6699ff;
  border-radius: 5px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__icon {
  position: relative;
  margin-top: 30px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 30px;
  height: 2px;
  background-color: #b36b00;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation__icon::before {
  top: -8px;
}

.navigation__icon::after {
  top: 8px;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

/* pages and posts styles */
.page-banner {
  height: 30vh;
  padding: 80px 0 40px 0;
  position: relative;
}

.page-banner__bg-img {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 184, 77, 0.4)), to(rgba(179, 107, 0, 0.4))), url(../img/percussion-ensemble.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 184, 77, 0.4), rgba(179, 107, 0, 0.4)), url(../img/percussion-ensemble.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-links {
  position: relative;
  z-index: 1;
  background-color: #ffebcc;
  margin: 0 0 40px 0;
  text-decoration: none;
}

.page-links li {
  list-style: none;
}

.page-links li:first-child {
  border-top: none;
}

.page-links li a {
  display: block;
  text-align: center;
  padding: 17px 10px;
  text-decoration: none;
  color: #777;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.page-links li a:hover {
  color: #777;
  background-color: #ffebcc;
}

.page-links__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 20px 0;
  background-color: #1a66ff;
}

.page-links__title a {
  color: #fff;
  text-decoration: none;
  background-color: #1a66ff;
}

.page-links__list {
  list-style: none;
}

.page-links__active,
.page-links .current_page_item {
  text-align: center;
  background-color: #f4e7b4;
  color: #0D3B66;
  font-weight: 700;
}

.post-banner__bg-img {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 184, 77, 0.4)), to(rgba(179, 107, 0, 0.4))), url(../img/drum_set_example.jpeg);
  background-image: linear-gradient(to right bottom, rgba(255, 184, 77, 0.4), rgba(179, 107, 0, 0.4)), url(../img/drum_set_example.jpeg);
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.post-link__title {
  text-decoration: none;
  color: #b36b00;
}

.post-links {
  text-decoration: none;
  color: #777;
  font-weight: 700;
}

.post-summary {
  position: relative;
  padding-left: 107px;
  min-height: 77px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

.post-summary__date {
  text-decoration: none;
  display: block;
  top: 15px;
  left: 0;
  position: absolute;
  padding: 11px 0;
  color: #FFF;
  border-radius: 50%;
  background-color: #b36b00;
  height: 90px;
  width: 90px;
  line-height: 1.5;
  -webkit-transition: opacity .33s;
  transition: opacity .33s;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.22);
}

.post-summary__month {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.post-summary__day {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
}

.post-summary__content-title {
  font-size: 25px;
  font-weight: 700;
  color: #1a66ff;
}

.post-summary__links {
  text-decoration: none;
  color: #1a66ff;
  font-weight: 400;
}

/* section music */
.section-music {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(247, 247, 247, 0.8)), to(rgba(255, 184, 77, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.8), rgba(255, 184, 77, 0.8));
  padding: 150px 0;
}

/* section templates */
.section-templates {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(247, 247, 247, 0.8)), to(rgba(51, 102, 102, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.8), rgba(51, 102, 102, 0.8));
  padding: 100px 0 300px 0;
  margin-top: 0;
}

/* section tutorials */
.section-tutorials {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(247, 247, 247, 0.8)), to(rgba(255, 184, 77, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.8), rgba(255, 184, 77, 0.8));
  padding: 150px 0;
  margin-top: 0;
}

/* section for page and post content 
.section-pages {

}
*/
.section-blog {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(247, 247, 247, 0.8)), to(rgba(51, 102, 102, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.8), rgba(51, 102, 102, 0.8));
  padding: 100px 0 300px 0;
  margin-top: 0;
}
/*# sourceMappingURL=main.css.map */