/* overall site reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // this defines what 1rem is 16px is default browser font size
    font-size: 62.5%;   // 1 rem = 10px; 10/16px = 62.5%
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}