/* section music */
.section-music {
    background-image: linear-gradient( 
        to right bottom, 
        rgba(247, 247, 247, 0.8), 
        rgba(255, 184, 77, 0.8));
    padding: 150px 0;
}

/* section templates */
.section-templates {
    background-image: linear-gradient( 
        to right bottom, 
        rgba(247, 247, 247, 0.8), 
        rgba(51, 102, 102, 0.8));
    padding: 100px 0 300px 0;
    margin-top: 0;
}

/* section tutorials */
.section-tutorials {
    background-image: linear-gradient( 
        to right bottom, 
        rgba(247, 247, 247, 0.8), 
        rgba(255, 184, 77, 0.8));
    padding: 150px 0;
    margin-top: 0; 
}

/* section for page and post content 
.section-pages {

}
*/

.section-blog {
    background-image: linear-gradient( 
        to right bottom, 
        rgba(247, 247, 247, 0.8), 
        rgba(51, 102, 102, 0.8));
    padding: 100px 0 300px 0;
    margin-top: 0;
}