.header {
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 184, 77, 0.4), 
        rgba(179, 107, 0, 0.4)), 
        url(../img/percussion-instruments_pc-jacob-wade_1900x600.jpg);
    background-size: cover;
    background-position: top;

    position: relative;
}

.text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*CSS for future logo, left uncommented since logo image not yet available */
.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo {
    /* height placeholder */
    height: 3.5rem; 
}