/* pages and posts styles */
.page-banner {
    height: 30vh; 

    padding: 80px 0 40px 0;
    position: relative;
}

.page-banner__bg-img {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 184, 77, 0.4), 
        rgba(179, 107, 0, 0.4)), 
        url(../img/percussion-ensemble.jpg); 
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-links {
    position: relative;
    z-index: 1;
    background-color: #ffebcc;
    margin: 0 0 40px 0;

    text-decoration: none;
}

.page-links li {
   
    
    list-style: none;
  }
  
  .page-links li:first-child {
    border-top: none;
  }

.page-links li a {
    display: block;
    text-align: center;
    padding: 17px 10px;
    text-decoration: none;
    color: #777;
    transition: all .3s;
  }
  
  .page-links li a:hover {
    color: #777;
    background-color: #ffebcc;
  }

.page-links__title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
    background-color: #1a66ff;
    
}

.page-links__title a {
    color: #fff;
    text-decoration: none;
    background-color: #1a66ff;
}

.page-links__list {
    list-style: none;
}

.page-links__active,
.page-links .current_page_item {
text-align: center;
background-color: rgb(244, 231, 180);
color: #0D3B66;
font-weight: 700;
} 

.post-banner__bg-img {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 184, 77, 0.4), 
        rgba(179, 107, 0, 0.4)), 
        url(../img/drum_set_example.jpeg); 
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.post-link__title {
    text-decoration: none;
    color: #b36b00;
}

.post-links {
    text-decoration: none;
    color: #777;
    font-weight: 700;
}

.post-summary {
    position: relative;
    padding-left: 107px;
    min-height: 77px;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

.post-summary__date {
    text-decoration: none;
    display: block;
    top: 15px;
    left: 0;
    position: absolute;
    padding: 11px 0;
    color: #FFF;
    border-radius: 50%;
    background-color: #b36b00;
    height: 90px;
    width: 90px;
    line-height: 1.5;
    transition: opacity .33s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .22);   
}

.post-summary__month {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;    
}

.post-summary__day {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;   
}

.post-summary__content-title {
    font-size: 25px;
    font-weight: 700;
    color: #1a66ff;
}

.post-summary__links {
    text-decoration: none;
    color: #1a66ff;
    font-weight: 400;
}